<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src='https://code.jquery.com/jquery-3.3.1.slim.min.js' , integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' , crossorigin='anonymous'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' ,integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' , crossorigin='anonymous'></script>
<script src='../javascripts/bootstrap.min.js'></script>
<script src="../javascripts/index.js"></script>


<nav class="navbar fixed-top navbar-expand-md navbar-light">
  <div class="container">
    <a routerLink="/" class="navbar-brand">ZMMG</a>
    <button type="button" data-toggle="collapse" data-target="#navbarMain" class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarMain" class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a routerLink="collections" class="nav-link">Collections</a>
        </li>

      </ul>
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item" >
          <a routerLink="login" class="nav-link" *ngIf="!isLoggedIn()">Sign in</a>
        </li>
        <li class="nav-item-dropdown" *ngIf="isLoggedIn()">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown">{{getUsername()}}</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="doLogout()">Logout</a>
          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>
<div class="container content">
  <router-outlet></router-outlet>

  <footer>
    <div class="row">
      <div class="col-12">
        <small>&copy; ZMMG - Zachary Mohler 2023</small>
      </div>
    </div>
  </footer>
</div>
