<div class="row banner">
  <div class="col-12">
    <h1><a style="text-decoration: none" routerLink="../">◄</a> Games   <small>seach an item...</small></h1>
    <form ngNoForm class="float-right" action="/collections/games/search" method="GET">
      <input id="toSeach" name="toSearch" placeholder="seach a title..." />
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    <div *ngIf="isLoggedIn()">
      <a routerLink="/collections/games/addGame" style="text-decoration: none;" class="btn btn-primary">Add New</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <p><strong>TITLE</strong></p>
  </div>
  <div class="col">
    <p><strong>PLATFORM</strong></p>
  </div>
  <div class="col">
    <p><strong>COMMENTS</strong></p>
  </div>
 </div>

<hr class="entries" />
<div class="error">{{message}}</div>

<div *ngIf="!isLoggedIn()">
  <div *ngFor="let game of gamesList">
    <div class="row">
      <div class="col">
        <p>{{game.title}}</p>
      </div>
      <div class="col">
        <p>{{game.platform}}</p>
      </div>
      <div class="col">
        <p>{{game.comments}}</p>
      </div>
    </div>
    <hr class="entries" />
  </div>
</div>

<div *ngIf="isLoggedIn()">
  <div *ngFor="let game of gamesList">
    <div class="row">
      <div class="col">
        <a routerLink="gameEdit/{{game._id}}">{{game.title}}</a>
      </div>
      <div class="col">
        <p>{{game.platform}}</p>
      </div>
      <div class="col">
        <p>{{game.comments}}</p>
      </div>
    </div>
    <hr class="entries" />
  </div>
</div>
